Backup/ToDo.Web/Service References/ToDoService/ToDoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13404/ToDoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" />
  <xs:element name="GetToDoItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idFilter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToDoItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" minOccurs="0" name="GetToDoItemsResult" nillable="true" type="q1:ArrayOfToDoItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToDoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" minOccurs="0" name="toDoItem" nillable="true" type="q2:ToDoItemContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveToDoItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveToDoItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>