ToDo.MVC/Service References/ToDoService/ToDoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13404/ToDoService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfToDoItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItemContract" nillable="true" type="tns:ToDoItemContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoItemContract" nillable="true" type="tns:ArrayOfToDoItemContract" />
  <xs:complexType name="ToDoItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Complete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelatedId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelatedItems" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoItemContract" nillable="true" type="tns:ToDoItemContract" />
  <xs:complexType name="ArrayOfRelatedItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelatedItemContract" nillable="true" type="tns:RelatedItemContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelatedItemContract" nillable="true" type="tns:ArrayOfRelatedItemContract" />
  <xs:complexType name="RelatedItemContract">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RelatedItems" nillable="true" type="q2:ArrayOfanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelatedItemContract" nillable="true" type="tns:RelatedItemContract" />
</xs:schema>