ToDo.MVC/Service References/ToDoService/ToDoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfToDoItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToDoItemContract" nillable="true" type="tns:ToDoItemContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToDoItemContract" nillable="true" type="tns:ArrayOfToDoItemContract" />
  <xs:complexType name="ToDoItemContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Complete" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToDoItemContract" nillable="true" type="tns:ToDoItemContract" />
</xs:schema>